<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<!-- Created by htmlize-1.57 in css mode. -->
<html>
  <head>
    <title>index.html</title>
    <style type="text/css">
    <!--
      body {
        color: #ffffff;
        background-color: #000000;
      }
      .hl-line {
        /* hl-line */
        background-color: #363636;
      }

      a {
        color: inherit;
        background-color: inherit;
        font: inherit;
        text-decoration: inherit;
      }
      a:hover {
        text-decoration: underline;
      }
    -->
    </style>
    <script type="importmap">
    {
      "imports": {
        "three": "../node_modules/three/build/three.module.js",
        "meshline": "../node_modules/@lume/three-meshline/dist/index.js"
      }
    }
    </script>
    <script type="module" src="./index.js"></script>
  </head>
  <body>
    <pre>
</pre>
  </body>
</html>
